<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<div class="container">
    <div class="jumbotron">
        <h1>Git Hub Search</h1> <br>
        <p>Search for anyone's GitHub account and view their repositories.</p> <hr>
      </div>
      <div class="container">
        <form class="form-inline" #search='ngForm'>
            <input [(ngModel)]="login" name="login" [ngModelOptions]="{standalone: true}" (keyup)="findUserName()" style="margin-left: 60px; height: 40px;border-radius: 10px;font-size: 12px;" type="text" class="form-control" id="search" size="121"  placeholder="Enter a GitHub User name">
            
            <a  type="submit" href="#" class="btn btn-info btn-sm" >
                <span class="glyphicon glyphicon-search"></span> Search 
              </a> 
        
        </form>        
       <div class="row">
        <div class="col-md-3 card" style="width:20rem;" >
            <img src="{{user.avatar_url}}" class="img-circle img-responsive" alt="Profile Image">            
            <ul class="list-group list-group-flush">
              <li class="list-group-item">User Name : {{user.login}} </li>
              <li class="list-group-item">Name : {{user.name}}</li>
              <li class="list-group-item">Location:{{user.location}}</li>
            </ul>
            <div class="card-body">
              <button class="btn btn-outline-primary" style="margin-right: 10px;">Followers: {{user.followers}} </button>
              <button class="btn btn-outline-info">Following: {{user.following}} </button>
            </div> 
            </div>
         
          <div class="col-md-7">
            <div class="panel panel-info">
                <div class="panel-heading">Repositories</div>
                <div class="panel-body">             
                    <p *ngIf ="repos.email"> Email Address:{{repos.email}} </p>
                     <p><li *ngIf ="repos.bio" class="list-group-item list-group-item-info"> Bio : {{repos.bio}}</li></p>             
                    <p *ngIf="repos.public_repos"> Public repositories: {{repos.public_repos}}</p>
                    <p *ngIf="repos.public_gists"> Public Gists:  {{repos.public_gists}}</p>
                    <p *ngIf="repos.created_at"> Date Account was created: {{repos.created_at|date}}</p>                
                  <button class="btn btn-warning pull-right"><a href="{{repos.html_url}}"> View profile from GitHub</a></button>                    
                </div>
            </div>
          </div>
      </div>
    </div>
</div>
